<% if (theme.baidu_analytics){ %>
  <script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?<%= theme.baidu_analytics %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
<% } %>
<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= theme.since %> - <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= theme.since %> - <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
<span id="busuanzi_container_site_pv">
     <i class="fa fa-flag"></i>    你是第<span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span>个到访的小伙伴
</span>
</div>
<div class="clearfix"></div>
